* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
p {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
}
body {
  background: hsl(217, 54%, 11%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 280px;
  padding: 1rem;
  border-radius: 0.6rem;
  background: hsl(216, 50%, 16%);
}
.nft-image {
  width: 100%;
  height: 248px;
  border-radius: 0.5rem;
  background-image: url("images/image-equilibrium.jpg");
  background-size: contain;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.image-overlay {
  width: 100%;
  height: 100%;
  background: hsla(178, 100%, 50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.image-overlay img {
  opacity: 0;
  transition: 0.3s;
}
.image-overlay:hover {
  background: hsla(178, 100%, 50%, 0.502);
}
.image-overlay:hover .nft-img {
  opacity: 1;
}
.nft-id {
  color: white;
  font-size: 1.2rem;
  padding: 0.6rem 0;
  cursor: pointer;
  transition: 0.3s;
}
.nft-id:hover {
  color: hsl(178, 100%, 50%);
}
.nft-description {
  font-weight: 300;
  font-size: 0.9rem;
}
.when-available {
  padding: 0.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.price,
.time-left {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.price img {
  width: 0.5rem;
}
.price p {
  font-weight: 600;
  color: hsl(178, 100%, 50%);
  font-size: 0.9rem;
}
.time-left img {
  width: 0.9rem;
}
.time-left p {
  font-weight: 300;
  font-size: 0.9rem;
}
.nft-creator {
  display: flex;
  border-top: 1px solid hsl(215, 51%, 70%);
  gap: 0.8rem;
  padding: 0.6rem 0;
}
.nft-creator img {
  width: 1.6rem;
  border: 1px solid white;
  border-radius: 0.8rem;
}
.nft-creator p {
  font-weight: 300;
  font-size: 0.9rem;
}
.nft-creator p span {
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.nft-creator p span:hover {
  color: hsl(178, 100%, 50%);
}
